<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/admin.xhtml">

    <ui:define name="head">
        <h:outputStylesheet library="css" name="showcase.css"/>
        <h:outputStylesheet library="css" name="prism.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon-32x32.png']}" sizes="32x32"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon-16x16.png']}" sizes="16x16"/>
        <link rel="manifest" href="/manifest.json"/>
        <!-- See https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android -->
        <meta name="theme-color" content="#444"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <title>AdminFaces Showcase</title>
    </ui:define>

    <ui:define name="logo">
        Admin Showcase
    </ui:define>

    <ui:define name="logo-mini">
        Admin
    </ui:define>

    <ui:define name="menu-begin">
        <ui:include src="/includes/menu-search.xhtml"/>
    </ui:define>

    <ui:define name="menu">
        <ui:include src="/includes/menu.xhtml"/>
    </ui:define>

    <ui:define name="top-menu">
        <ui:include src="/includes/top-menu.xhtml"/>
    </ui:define>

    <ui:define name="content-end">
        <section class="content">
            <ui:insert name="code"/>
        </section>
    </ui:define>

    
    <!-- below is just an example on how to define more tabs for control sidebar --> 
    <ui:define name="controlsidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ui:define>

    <ui:define name="controlsidebar-content">
        <ui:include src="/includes/controlsidebar-tabs-content.xhtml"/>
    </ui:define>

    <ui:define name="footer">
        <a target="_blank"
           href="https://github.com/adminfaces">
            Copyright (C) 2017-2018 - AdminFaces
        </a>
        <div class="pull-right hidden-xs" style="color: gray">
            <i>#{adm['admin.version']}</i>
        </div>

        <script type="text/javascript">
            if (isMobile()) {
                $('a.ui-link').click(function () {
                    $(this).prop('disabled', true);
                    showBar();
                });
            }
        </script>
    </ui:define>

    <ui:define name="after-wrapper">
        <h:outputScript library="js" name="prism.js" target="head"/>
    </ui:define>


</ui:composition>