<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="title">
        Exceptions
    </ui:define>

    <ui:define name="description">
        This page shows how the application behaves when exceptions are raised.
    </ui:define>

    <ui:define name="body">
        <adm:breadcrumb title="Exceptions"/>
        <p:panel styleClass="card no-border" header="Exceptions" style="min-height: 150px">
            <h:form>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-3 ui-sm-12">
                        <p:commandButton action="#{exceptionMB.throwBusinessException}" value="Business exception" styleClass="btn-default"/>
                    </div>
                    <div class="ui-g-3 ui-sm-12">
                        <p:commandButton styleClass="btn-danger" action="#{exceptionMB.throwRuntime}"
                                         value="Runtime exception"/>
                    </div>
                    <div class="ui-g-3 ui-sm-12">
                        <p:commandButton styleClass="btn-fatal" style="color: #fff"
                                         action="#{exceptionMB.throwViewExpired}" value="ViewExpired exception"/>
                    </div>
                    <div class="ui-g-3  ui-sm-12">
                        <p:button styleClass="btn-warning" href="github.com" value="404"/>
                    </div>
                    <div class="ui-g-4 ui-sm-12">
                        <p:commandButton styleClass="bg-black" action="#{exceptionMB.multipleBusinessException}"
                                         value="Multiple business exceptions"/>
                    </div>
                    <div class="ui-g-4 ui-sm-12">
                        <p:commandButton styleClass="bg-gray" ajax="false" action="#{exceptionMB.throwAccessDenied}"
                                         value="Access denied"/>
                    </div>
                    <div class="ui-g-4 ui-sm-12">
                        <p:commandButton styleClass="btn-success" action="#{exceptionMB.throwOptimisticLock}"
                                         value="Optimistic lock exception"/>
                    </div>
                </div>
            </h:form>
        </p:panel>
    </ui:define>

    <ui:define name="code">
        <p:tabView styleClass="hidden-sm hidden-xs">
            <p:tab title="exception.xhtml">
           <pre>
               <code class="language-html"><h:outputText value="#{sourceCodeMB.getPageSource()}" escape="true"/></code>
           </pre>
            </p:tab>

            <p:tab title="ExceptionMB.java">
              <pre>
               <code class="language-java"><h:outputText
                       value="#{sourceCodeMB.getJavaSource('com.github.adminfaces.showcase.bean.ExceptionMB')}" escape="true"/></code>
             </pre>
            </p:tab>
        </p:tabView>

        <p:accordionPanel styleClass="hidden-md hidden-lg no-icon">
            <p:tab title="exception.xhtml">
           <pre>
               <code class="language-html"><h:outputText value="#{sourceCodeMB.getPageSource()}" escape="true"/></code>
           </pre>
            </p:tab>

            <p:tab title="ExceptionMB.java">
              <pre>
               <code class="language-java"><h:outputText
                       value="#{sourceCodeMB.getJavaSource('com.github.adminfaces.showcase.bean.ExceptionMB')}" escape="true"/></code>
             </pre>
            </p:tab>
        </p:accordionPanel>
    </ui:define>
</ui:composition>
