<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="metadata">
         <f:metadata>
             <f:viewParam name="flat" value="#{layoutMB.flat}" converter="javax.faces.Boolean"/>
         </f:metadata>
    </ui:define>
    
    <ui:define name="head-end">
        <style type="text/css">
            .ui-grid-row .ui-grid-col-2,
            .ui-grid-row .ui-grid-col-10 {
                padding: 0.5em 0;
                margin-left: 10px;
            }

            .ui-g-12, .ui-sm-12 {
                padding-left: 0;
                padding-right: 0;
            }

            .ui-datagrid-column .ui-panel.ui-widget-content {
                border: none;
            }


        </style>
    </ui:define>

    <ui:define name="title">
        Forms
    </ui:define>

    <ui:define name="description">
        Example of form controls
    </ui:define>

    <ui:define name="body">
        <adm:breadcrumb title="Forms"/>
        <h:form>
            <div>
                <p:tooltip for="flat-switch" escape="false" position="top" value="Turns flat borders on, just add &lt;code&gt;ui-flat&lt;/code&gt; to a parent div."/>
                <p:outputLabel value="Flat borders?" for="flat-switch"/>
                <p:inputSwitch id="flat-switch" value="#{layoutMB.flat}">
                    <p:ajax update="@form @(.ui-tabs)"/>
                </p:inputSwitch>
            </div>
            <p:spacer height="15px"/>
            <div class="ui-fluid #{layoutMB.flat ? 'ui-flat':''}">
                <p:panelGrid columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
                             layout="grid" styleClass="ui-fluid card">
                    <p:outputLabel for="input" value="Input"/>
                    <p:inputText id="input"/>

                    <p:outputLabel for="area" value="Textarea"/>
                    <p:inputTextarea id="area"/>

                    <p:outputLabel for="calendar" value="Calendar"/>
                    <p:calendar id="calendar" showOn="button"/>

                    <p:outputLabel for="ac" value="Auto Complete"/>
                    <p:autoComplete id="ac" completeMethod="#{autoCompleteMB.completeText}" dropdown="true"/>

                    <p:outputLabel for="mask" value="Mask"/>
                    <p:inputMask id="mask" mask="99/99/9999"/>

                    <p:outputLabel for="pwd" value="Password"/>
                    <p:password id="pwd"/>

                    <p:outputLabel for="keyboard" value="Keyboard"/>
                    <p:keyboard id="keyboard"/>

                    <p:outputLabel for="onemenu" value="OneMenu"/>
                    <p:selectOneMenu id="onemenu">
                        <f:selectItem itemLabel="Select One" itemValue=""/>
                        <f:selectItem itemLabel="Xbox One" itemValue="Xbox One"/>
                        <f:selectItem itemLabel="PS4" itemValue="PS4"/>
                        <f:selectItem itemLabel="Wii U" itemValue="Wii U"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="spinner" value="Spinner"/>
                    <p:spinner id="spinner"/>

                    <p:outputLabel for="slider" value="Slider"/>
                    <p:outputPanel>
                        <p:inputText id="slider"/>
                        <p:slider for="slider"/>
                    </p:outputPanel>

                    <p:outputLabel for="radio" value="Radio"/>
                    <p:selectOneRadio id="radio" value="#{radioMB.city2}" layout="responsive" columns="3">
                        <f:selectItems value="#{radioMB.cities}" var="c" itemLabel="#{c}" itemValue="#{c}"/>
                    </p:selectOneRadio>

                    <p:outputLabel for="chkbox" value="Checkbox"/>
                    <p:selectManyCheckbox id="chkbox" value="#{checkboxMB.selectedCities2}" layout="responsive"
                                          columns="3">
                        <f:selectItems value="#{checkboxMB.cities}" var="city" itemLabel="#{city}" itemValue="#{city}"/>
                    </p:selectManyCheckbox>

                    <p:outputLabel for="btn" value="Button"/>
                    <p:commandButton id="btn" value="Edit" icon="fa fa-edit" type="button" styleClass="btn-primary"/>

                    <p:outputLabel for="spbtn" value="SplitButton"/>
                    <p:splitButton id="spbtn" value="Save" type="button" icon="fa fa-save" styleClass="btn-primary">
                        <p:menuitem value="Update" url="#" icon="ui-icon-arrowrefresh-1-w"/>
                        <p:menuitem value="Delete" url="#" icon="ui-icon-close"/>
                        <p:separator/>
                        <p:menuitem value="Homepage" url="http://www.primefaces.org" icon="ui-icon-extlink"/>
                    </p:splitButton>

                    <p:outputLabel for="chkmenu" value="Checkbox Menu"/>
                    <p:selectCheckboxMenu id="chkmenu" label="Cities">
                        <f:selectItems value="#{checkboxMB.cities}"/>
                    </p:selectCheckboxMenu>

                    <p:outputLabel for="chkmenu-multiple" value="Checkbox Menu Multiple"/>
                    <p:selectCheckboxMenu id="chkmenu-multiple" label="Cities"
                                          multiple="true" filter="true" filterMatchMode="startsWith">
                        <f:selectItems value="#{checkboxMB.cities}"/>
                    </p:selectCheckboxMenu>

                    <p:outputLabel for="booleanBtn" value="Boolean Button"/>
                    <p:selectBooleanButton id="booleanBtn" onLabel="Yes" offLabel="No" onIcon="ui-icon-check"
                                           offIcon="ui-icon-close"/>

                    <p:outputLabel for="oneBtn" value="OneButton"/>
                    <p:selectOneButton id="oneBtn">
                        <f:selectItem itemLabel="XB1" itemValue="XB1"/>
                        <f:selectItem itemLabel="PS4" itemValue="PS4"/>
                    </p:selectOneButton>

                    <p:outputLabel for="manyBtn" value="Many Button"/>
                    <p:selectOneButton id="manyBtn">
                        <f:selectItem itemLabel="Spark" itemValue="Spark"/>
                        <f:selectItem itemLabel="Ronin" itemValue="Ronin"/>
                        <f:selectItem itemLabel="Rio" itemValue="Rio"/>
                    </p:selectOneButton>

                    <p:outputLabel for="menuBtn" value="Menu Button"/>
                    <p:menuButton value="layout mode" id="menuBtn" styleClass="btn-primary">
                        <p:menuitem value="Vertical" icon="fa fa-list-ul"/>
                        <p:menuitem value="Horizontal" icon="fa fa-credit-card"/>
                    </p:menuButton>

                    <p:outputLabel for="listbox" value="Listbox"/>
                    <p:selectOneListbox id="listbox">
                        <f:selectItem itemLabel="Sentinel" itemValue="Sentinel"/>
                        <f:selectItem itemLabel="Spark" itemValue="Spark"/>
                        <f:selectItem itemLabel="Ronin" itemValue="Ronin"/>
                        <f:selectItem itemLabel="Rio" itemValue="Rio"/>
                        <f:selectItem itemLabel="Primus" itemValue="Primus"/>
                    </p:selectOneListbox>

                    <p:outputLabel for="cmdBtn" value="Command Button"/>
                    <p:commandButton value="Action" id="cmdBtn" styleClass="btn-primary"/>
                </p:panelGrid>
                <p:commandButton id="dialog" value="Dialog" icon="ui-icon-extlink" styleClass="btn-success"
                                 type="button" onclick="PF('dlg').show()" style="margin-top:20px;display:block"/>
                <p:dialog header="Login" widgetVar="dlg" resizable="false" responsive="true"
                          modal="true" appendTo="@(body)" width="350" styleClass="card">
                    <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
                                 columnClasses="ui-grid-col-4,ui-grid-col-8">
                        <h:outputLabel for="username" value="Username:"/>
                        <p:inputText id="username"/>

                        <h:outputLabel for="password" value="Password:"/>
                        <p:password id="password"/>
                        <h:outputLabel for="date" value="Date:"/>
                        <p:calendar id="date" showOn="button"/>

                        <f:facet name="footer">
                            <div class="box-footer">
                                <p:commandButton value="Login" type="button" onclick="PF('dlg').hide()"
                                                 styleClass="btn-primary"/>
                            </div>
                        </f:facet>
                    </p:panelGrid>
                </p:dialog>

                <div class="ui-g-12">
                    <p:panel styleClass="card no-border">
                        <p:chart type="line" model="#{chartMB.lineModel1}" style="height:300px;margin:20px 0"
                                 responsive="true"/>
                    </p:panel>
                </div>

                <div class="ui-g-12">
                    <p:panel header="DataTable" styleClass="card no-border">
                        <p:dataTable var="car" value="#{datatableMB.cars}" reflow="true"
                                     paginator="true" paginatorPosition="bottom" rows="5">
                            <p:column headerText="Id">
                                <h:outputText value="#{car.id}"/>
                            </p:column>

                            <p:column headerText="Year">
                                <h:outputText value="#{car.year}"/>
                            </p:column>

                            <p:column headerText="Brand">
                                <h:outputText value="#{car.brand}"/>
                            </p:column>

                            <p:column headerText="Color">
                                <h:outputText value="#{car.color}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </div>

                <div class="ui-g-12">
                    <p:panel header="DataGrid" styleClass="card no-border">
                        <p:dataGrid var="car" value="#{dataGridMB.cars}" columns="3" layout="grid" rows="12"
                                    paginator="true" paginatorPosition="bottom">

                            <p:panel header="#{car.id}" style="text-align:center">
                                <h:panelGrid columns="1" style="width:100%">
                                    <p:graphicImage name="demo/images/car/#{car.brand}.gif"/>

                                    <h:outputText value="#{car.brand} - #{car.year}"/>
                                </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>
                    </p:panel>
                </div>

                <div class="ui-g-12">
                    <p:panel header="Tree" styleClass="card no-border">
                        <p:tree value="#{treeMB.root}" var="doc">
                            <p:treeNode expandedIcon="fa fa-folder-open" collapsedIcon="fa fa-folder">
                                <h:outputText value="#{doc.name}"/>
                            </p:treeNode>

                            <p:treeNode type="document" icon="fa fa-file-word-o">
                                <h:outputText value="#{doc.name}"/>
                            </p:treeNode>

                            <p:treeNode type="picture" icon="fa fa-file-photo-o">
                                <h:outputText value="#{doc.name}"/>
                            </p:treeNode>

                            <p:treeNode type="mp3" icon="fa fa-file-movie-o">
                                <h:outputText value="#{doc.name}"/>
                            </p:treeNode>
                        </p:tree>
                    </p:panel>
                </div>

                <div class="ui-g-8 ui-sm-12" style="padding-left: 0">
                    <p:panel header="Picklist" styleClass="card no-border">
                        <p:pickList id="PojoPickList" value="#{pickListMB.themes}" var="theme" effect="bounce"
                                    showSourceFilter="true" showTargetFilter="true"
                                    itemValue="#{theme}" itemLabel="#{theme.displayName}" showSourceControls="true"
                                    showTargetControls="true" converter="themeConverter" responsive="true">

                            <f:facet name="sourceCaption">Available</f:facet>
                            <f:facet name="targetCaption">Starting</f:facet>

                            <p:column style="width:10%">
                                <h:outputText styleClass="ui-theme ui-theme-#{theme.name}"/>
                            </p:column>

                            <p:column style="padding-right: 5px;width:90%;">
                                <h:outputText value="#{theme.displayName}"/>
                            </p:column>
                        </p:pickList>
                    </p:panel>

                </div>

                <div class="ui-g-4 ui-sm-12" style="padding-right: 0">
                    <p:panel header="OrderList" styleClass="card no-border" style="height:335px">
                        <p:orderList value="#{pickListMB.orderThemes}" var="theme" itemValue="#{theme}"
                                     converter="themeConverter" controlsLocation="left" responsive="true">

                            <f:facet name="caption">Available</f:facet>

                            <p:column style="width:32px">
                                <h:outputText styleClass="ui-theme ui-theme-#{theme.name}"/>
                            </p:column>

                            <p:column>
                                <h:outputText value="#{theme.displayName}"/>
                            </p:column>
                        </p:orderList>
                    </p:panel>
                </div>

                <div class="ui-g-12">
                    <p:panel header="Accordion Panel" styleClass="card no-border">
                        <p:accordionPanel>
                            <p:tab title="Godfather Part I">
                                <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid"
                                             styleClass="ui-panelgrid-blank">
                                    <p:graphicImage name="demo/images/godfather1.jpg"/>
                                    <h:outputText
                                            value="The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect,
                    but given to ruthless violence whenever anything stands against the good of the family."/>
                                </p:panelGrid>
                            </p:tab>
                            <p:tab title="Godfather Part II">
                                <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid"
                                             styleClass="ui-panelgrid-blank">
                                    <p:graphicImage name="demo/images/godfather2.jpg"/>
                                    <h:outputText value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream.
                              In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
                              killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows."/>
                                </p:panelGrid>
                            </p:tab>
                            <p:tab title="Godfather Part III">
                                <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid"
                                             styleClass="ui-panelgrid-blank">
                                    <p:graphicImage name="demo/images/godfather3.jpg"/>
                                    <h:outputText value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family.
                              Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate."/>
                                </p:panelGrid>
                            </p:tab>
                        </p:accordionPanel>
                    </p:panel>
                </div>

                <div class="ui-g-12">
                    <p:panel header="TabView" styleClass="card no-border">
                        <p:tabView>
                            <p:tab title="Godfather Part I">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:graphicImage name="demo/images/godfather1.jpg"/>
                                    <h:outputText
                                            value="The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect,
                            but given to ruthless violence whenever anything stands against the good of the family."/>
                                </h:panelGrid>
                            </p:tab>
                            <p:tab title="Godfather Part II">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:graphicImage name="demo/images/godfather2.jpg"/>
                                    <h:outputText value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream.
                        In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
                        killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows."/>
                                </h:panelGrid>
                            </p:tab>
                            <p:tab title="Godfather Part III" closable="true">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:graphicImage name="demo/images/godfather3.jpg"/>
                                    <h:outputText value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family.
                            Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate."/>
                                </h:panelGrid>
                            </p:tab>
                        </p:tabView>
                    </p:panel>
                </div>


                <div class="ui-g-6 ui-sm-12" style="padding-left: 0">
                    <p:panel header="Menu" styleClass="card no-border" style="height: 320px">
                        <p:menu toggleable="true">
                            <p:submenu label="File">
                                <p:menuitem value="Save" url="#" icon="fa fa-floppy-o"/>
                                <p:menuitem value="Update" url="#" icon="fa fa-refresh"/>
                            </p:submenu>
                            <p:submenu label="Edit">
                                <p:menuitem value="Delete" url="#" icon="fa fa-times"/>
                            </p:submenu>
                            <p:submenu label="View">
                                <p:menuitem value="External" url="http://www.primefaces.org" icon="fa fa-home"/>
                                <p:menuitem value="Internal" outcome="/index" icon="fa fa-star"/>
                            </p:submenu>
                        </p:menu>
                    </p:panel>
                </div>

                <div class="ui-g-6 ui-sm-12" style="padding-right: 0">
                    <p:panel header="PanelMenu" styleClass="card no-border" style="height: 320px">

                        <p:panelMenu>
                            <p:submenu label="Ajax Menuitems">
                                <p:menuitem value="Save" url="#" icon="fa fa-floppy-o"/>
                                <p:menuitem value="Update" url="#" icon="fa fa-refresh"/>
                            </p:submenu>
                            <p:submenu label="Non-Ajax Menuitem">
                                <p:menuitem value="Delete" url="#" icon="fa fa-times"/>
                            </p:submenu>
                            <p:separator/>
                            <p:submenu label="Navigations">
                                <p:submenu label="Links" icon="fa fa-external-link">
                                    <p:submenu label="PrimeFaces" icon="fa fa-heart">
                                        <p:menuitem value="Home" url="http://www.primefaces.org" icon="fa fa-home"/>
                                        <p:menuitem value="Docs" url="http://www.primefaces.org/documentation"
                                                    icon="fa fa-folder"/>
                                        <p:menuitem value="Download" url="http://www.primefaces.org/downloads"
                                                    icon="fa fa-download"/>
                                        <p:menuitem value="Support" url="http://www.primefaces.org/support"
                                                    icon="fa fa-wrench"/>
                                    </p:submenu>
                                </p:submenu>
                                <p:menuitem value="Mobile" outcome="/index" icon="fa fa-wifi"/>
                            </p:submenu>
                        </p:panelMenu>
                    </p:panel>
                </div>

                <div class="ui-g-12">
                    <p:panel header="Panel" footer="Movie Details" styleClass="card">
                        <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid"
                                     styleClass="ui-panelgrid-blank">
                            <p:graphicImage name="demo/images/godfather1.jpg"/>
                            <h:outputText styleClass="align-left"
                                          value="The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect,
                but given to ruthless violence whenever anything stands against the good of the family."/>
                        </p:panelGrid>
                    </p:panel>
                </div>

                <div class="ui-g-12">
                    <p:panel header="Carousel" styleClass="card no-border">
                        <p:carousel value="#{datatableMB.carsCarousel}" var="car" headerText="Header"
                                    itemStyle="text-align:center" responsive="true">
                            <p:panelGrid columns="2" style="width:100%;margin:10px 0px"
                                         columnClasses="ui-grid-col-4,ui-grid-col-8"
                                         layout="grid" styleClass="ui-panelgrid-blank">
                                <f:facet name="header">
                                    <p:graphicImage name="demo/images/car/#{car.brand}.gif"/>
                                </f:facet>

                                <p:outputLabel value="Id:"/>
                                <h:outputText value="#{car.id}"/>

                                <p:outputLabel value="Year"/>
                                <h:outputText value="#{car.year}"/>

                                <p:outputLabel value="Color:"/>
                                <h:outputText value="#{car.color}" style="color:#{car.color}"/>

                                <p:outputLabel value="Price"/>
                                <h:outputText value="\$#{car.price}"/>
                            </p:panelGrid>
                        </p:carousel>
                    </p:panel>
                </div>
            </div>
        </h:form>
    </ui:define>

    <ui:define name="code">
        <p:tabView styleClass="hidden-sm hidden-xs">
            <p:tab title="forms.xhtml">
           <pre>
               <code class="language-html">
                   <h:outputText value="#{sourceCodeMB.getPageSource()}" escape="true"/>
               </code>
           </pre>
            </p:tab>

        </p:tabView>

        <p:accordionPanel styleClass="hidden-md hidden-lg no-icon">
            <p:tab title="forms.xhtml">
           <pre>
               <code class="language-html">
                   <h:outputText value="#{sourceCodeMB.getPageSource()}" escape="true"/>
               </code>
           </pre>
            </p:tab>
        </p:accordionPanel>
    </ui:define>
</ui:composition>
