<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="#{layoutMB.template}">

    <ui:param name="title" value="Dialog"/> <!-- will be used for bradCrumb and page title -->

    <ui:define name="description">
        <p:link value="Dialog"
                href="http://www.primefaces.org/showcase/ui/overlay/dialog/basic.xhtml"/> is an overlay component used to bring attention while showing content.
    </ui:define>

    <ui:define name="body">

        <h:form>
            <div class="row ui-fluid">
                <div class="col-md-3 col-sm-12">
                    <p:commandButton value="Basic" type="button" onclick="PF('dlg1').show();" styleClass="btn-success"/>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p:commandButton value="Modal" type="button" onclick="PF('dlg2').show();" styleClass="btn-warning"/>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p:commandButton value="Effects" type="button" onclick="PF('dlg3').show();" styleClass="btn-info"/>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p:commandButton value="Min/Max" onclick="PF('dlgMinMax').show();" type="button"
                                     styleClass="btn-primary"/>
                </div>
                <div class="col-sm-12 align-center" style="margin-top: 30px">
                    <p:commandLink id="btDialogLogin" oncomplete="PF('dlgLogin').show();" title="login"
                                   update="@(div[id$=loginGrid])">
                        <p:graphicImage name="/demo/images/login.png"/>
                        <f:setPropertyActionListener target="#{userLoginMB.username}" value="#{null}"/>
                    </p:commandLink>
                </div>
            </div>
        </h:form>
        <hr/>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog default" onclick="PF('dlgDefault').show();return false"
                          styleClass="btn-default btn-block"/>
            </div>
            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog primary" onclick="PF('dlgPrimary').show();return false"
                          styleClass="btn-primary btn-block"/>
            </div>

            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog info" onclick="PF('dlgInfo').show();return false"
                          styleClass="btn-info btn-block"/>
            </div>
            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog success" onclick="PF('dlgSuccess').show();return false"
                          styleClass="btn-success btn-block"/>
            </div>
            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog warning" onclick="PF('dlgWarning').show();return false"
                          styleClass="btn-warning btn-block"/>
            </div>
            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog danger" onclick="PF('dlgDanger').show();return false"
                          styleClass="btn-danger btn-block"/>
            </div>
            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog fatal" onclick="PF('dlgFatal').show();return false"
                          styleClass="btn-fatal btn-block"/>
            </div>
            <div class="col-sm-12 col-md-3">
                <h:form>
                    <p:commandButton id="bt-destroy" value="Destroy the World" styleClass="bg-black btn-block"
                                     actionListener="#{dialogMB.destroyWorld}">
                        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-warning">
                        <p:commandButton value="Yes" type="button" styleClass="btn-primary ui-confirmdialog-yes"
                                         icon="fa fa-check"/>
                        <p:commandButton value="No" type="button" styleClass="btn-danger ui-confirmdialog-no"
                                         icon="fa fa-close"/>
                    </p:confirmDialog>
                </h:form>
            </div>

            <div class="col-sm-12 col-md-3">
                <h:form>
                    <p:commandButton value="Dialog framework" icon="fa fa-link" styleClass="bg-aqua btn-block"
                                     process="@this" update="@none"
                                     actionListener="#{dfRootMB.openLevel1}">
                        <p:ajax event="dialogReturn" listener="#{dfRootMB.onReturnFromLevel1}"/>
                    </p:commandButton>
                </h:form>
            </div>

            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog primary solid" onclick="PF('dlgPrimarySolid').show();return false"
                          styleClass="btn-primary btn-block"/>
            </div>
            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog fatal solid" onclick="PF('dlgFatalSolid').show();return false"
                          styleClass="btn-fatal btn-block"/>
            </div>

            <div class="col-sm-12 col-md-3">
                <p:button value="Dialog danger solid" onclick="PF('dlgDangerSolid').show();return false"
                          styleClass="btn-danger btn-block"/>
            </div>
        </div>

        <p:dialog header="Basic Dialog" widgetVar="dlg1" minHeight="40" responsive="true">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>

        <p:dialog header="Modal Dialog" widgetVar="dlg2" modal="true" height="100" appendTo="@(body)">
            <h:outputText escape="false" value="This is a Modal Dialog. "/>
            <p><h:outputText escape="false" value="All modal dialogs must have &lt;code&gt;appendTo=@(body)&lt;/code&gt; property."/></p>
        </p:dialog>

        <p:dialog header="Effects" widgetVar="dlg3" showEffect="explode" hideEffect="bounce" height="100">
            <h:outputText value="This dialog has nice effects."/>
        </p:dialog>

        <p:dialog header="Dialog" appendTo="@(body)" widgetVar="dlgMinMax" minimizable="true" maximizable="true">
            <h:outputText value="This Dialog can be Maximized an Minimized!"/>
        </p:dialog>

        <p:dialog header="Dialog default" styleClass="box-default" widgetVar="dlgDefault" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:dialog header="Dialog primary" styleClass="box-primary" widgetVar="dlgPrimary" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:dialog header="Dialog info" styleClass="box-info" widgetVar="dlgInfo" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:dialog header="Dialog success" styleClass="box-success" widgetVar="dlgSuccess" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:dialog header="Dialog warning" styleClass="box-warning" widgetVar="dlgWarning" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:dialog header="Dialog danger" styleClass="box-danger" widgetVar="dlgDanger" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:dialog header="Dialog fatal" styleClass="box-fatal" widgetVar="dlgFatal" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>

        <p:dialog header="Dialog primary solid" styleClass="box-solid box-primary" widgetVar="dlgPrimarySolid" minHeight="100" modal="true"
                  >
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:dialog header="Dialog danger solid" styleClass="box-solid box-danger" widgetVar="dlgDangerSolid" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:dialog header="Dialog fatal solid" styleClass="box-solid box-fatal" widgetVar="dlgFatalSolid" minHeight="100" modal="true"
                  appendTo="@(body)">
            <h:outputText value="Resistance to PrimeFaces is futile!"/>
        </p:dialog>
        <p:growl id="growl" sticky="true" showDetail="true" life="3000"/>

        <p:dialog header="Login" widgetVar="dlgLogin" resizable="false" draggable="false" appendTo="@(body)" responsive="true" width="400"
                  modal="true" styleClass="dialog-login">
            <h:form>
                <p:growl/>
                <p:messages closable="true"/>
                <p:panelGrid id="loginGrid" columns="2" cellpadding="5" layout="grid" styleClass="no-border ui-fluid">
                    <p:outputLabel for="username" value="Username:"/>
                    <p:inputText id="username" value="#{userLoginMB.username}" required="true" autocomplete="off"
                                 requiredMessage="Username is required." label="username"/>
                    <p:outputLabel for="password" value="Password:"/>
                    <p:password id="password" value="#{userLoginMB.password}" required="true"
                                requiredMessage="Password is required." label="password"/>
                    <p:outputLabel for="select" value="Select:"/>
                    <p:selectOneMenu id="select" value="#{userLoginMB.selected}" required="true">
                        <f:selectItem itemLabel="Select"/>
                        <f:selectItem itemLabel="Credit Card" itemValue="Credit Card"/>
                        <f:selectItem itemLabel="Deposit" itemValue="Deposit"/>
                        <f:selectItem itemLabel="Cash" itemValue="Cash"/>
                    </p:selectOneMenu>
                    <p:outputLabel for="autocomplete" value="Auto Complete:"/>
                    <p:autoComplete id="autocomplete" completeMethod="#{autoCompleteMB.completeText}" dropdown="true"
                                    required="true"/>
                    <p:outputLabel for="chkmenu-multiple" value="Checkbox Menu Multiple:"/>
                    <p:selectCheckboxMenu id="chkmenu-multiple" label="Cities" required="true"
                                          multiple="true" filter="true" filterMatchMode="startsWith">
                        <f:selectItems value="#{checkboxMB.cities}"/>
                    </p:selectCheckboxMenu>
                    <p:outputLabel for="date" value="Date:"/>
                    <p:calendar id="date" showOn="button" required="true" requiredMessage="Date is required" />
                    <p:message for="date" display="tooltip"/>
                </p:panelGrid>

                <p:separator/>
                <p:button styleClass="btn-material pull-left" value="Close" onclick="PF('dlgLogin').hide();return false" />
                <p:commandButton styleClass="btn-primary btn-material pull-right" value="Login" update="@(.ui-growl, div[id$=loginGrid])"
                                 action="#{userLoginMB.login()}" process="@form"
                                 ignoreAutoUpdate="true"
                                 oncomplete="handleLoginRequest(xhr, status, args)"/> 

            </h:form>
        </p:dialog>


        <script type="text/javascript">
            function handleLoginRequest(xhr, status, args) {
                if (args.validationFailed || !args.loggedIn) {
                    PF('dlgLogin').jq.effect("shake", {times: 5}, 100);
                } else {
                    PF('dlgLogin').hide();
                    $('#loginLink').fadeOut();
                }
            }
        </script>

        <style type="text/css">
            @media (max-width: 480px) {
                div.ui-dialog.dialog-login {
                    width: 350px !important;
                }
            }
        </style>
    </ui:define>

    <ui:define name="code">
        <p:tabView>
            <p:tab title="dialog.xhtml">
                <pre>
               <code class="language-html">
                   <h:outputText value="#{sourceCodeMB.getPageSource()}" escape="true"/>
               </code>
                </pre>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>
